-r requirements.txt

# homeassistant version: 2023.6.0
pytest-homeassistant-custom-component==0.13.36

# Not entirely clear why it is needed as not a requirement for yamaha_ynca
# but the tests fail because the HA http component can not be setup because of missing lib.
# Maybe it is because HA http is in default? That would not be needed for the tests
aiohttp_cors

# Unfortunatly one test became flaky, lets retry a few times for now
flaky